/* .navbar-custom {
    background-color: #131F2B;
}

a.registration {
    background-color: #fec501;
    border-radius: 12px;
    color: #131F2B;
    padding: 10px;
    margin-left: auto;
}

.list-group-item {
    padding: 10px;
    border: 1px solid #000;
    width: 200px;
    text-align: center;
    position: relative;
    cursor: pointer;
    max-height: 100px;
}

.fmrotf {
    display: none;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    white-space: nowrap; Чтобы текст не переносился на следующую строку */
/* }

.list-group-item :hover .fmrotf {
    display: block;
}
.navbar-custom .nav-link {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    margin-left: 1rem;
}

.butt {
    color: #ffffff;
}

a.butt:hover {
    color: #fec501;
}

.navbar-brand {
    margin-right: 1rem;
}

.content-box {
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
}


*[tooltip]:hover:after {
    content: attr(tooltip);
    background-color: green;
    color: white;
    padding: 5px;
    max-width: 200px;
    margin-top: -500%;
    margin-left: -50%;
    margin-right: -30%;
    font-size: 16px;
    z-index: 9999;
    white-space: nowrap; 
}

@media (max-width: 992px) {
    .navbar-custom .nav-link {
        font-size: 20px;
        margin-left: 0.5rem;
    }
    a.registration {
        padding: 8px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .navbar-custom .nav-link {
        font-size: 18px;
        margin-left: 0.25rem;
    }
    a.registration {
        padding: 6px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .navbar-custom .nav-link {
        font-size: 16px;
        margin-left: 0.1rem;
    }
    a.registration {
        padding: 4px;
        font-size: 14px;
    }
} */

.navbar-custom {
    background-color: #131F2B;
}

a.registration {
    background-color: #fec501;
    border-radius: 12px;
    color: #131F2B;
    padding: 10px;
    margin-left: auto;
}

.list-group-item {
    padding: 10px;
    border: 1px solid #fec501;
    color: #fff;
    text-align: center;
    position: relative;
    cursor: pointer;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131F2B;
}

.fmrotf {
    display: none;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 0px;
    z-index: 1000;
    white-space: nowrap;
}

.list-group-item:hover .fmrotf {
    display: block;
}

.navbar-custom .nav-link {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    margin-left: 1rem;
}

.butt {
    color: #ffffff;
}


/* .main-part {
    background: #fff;
} */

body {
    background: #131F2B;
}

a.butt:hover {
    color: #fec501;
}

.navbar-brand {
    margin-right: 1rem;
}
.navbar {
    border-bottom: 3px solid #fff;
}

::-webkit-scrollbar {
    border-radius: 10px;
}

.content-box {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    background: #fff;
}




.news {
    color: #000;
}

*[tooltip]:hover:after {
    content: attr(tooltip);
    background-color: green;
    color: white;
    padding: 5px 30px;
    max-width: 200px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    z-index: 9999;
    white-space: nowrap;
}

@media (max-width: 992px) {
    .navbar-custom .nav-link {
        font-size: 20px;
        margin-left: 0.5rem;
    }
    a.registration {
        padding: 8px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .navbar-custom .nav-link {
        font-size: 18px;
        margin-left: 0.25rem;
    }
    a.registration {
        padding: 6px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .navbar-custom .nav-link {
        font-size: 16px;
        margin-left: 0.1rem;
    }
    a.registration {
        padding: 4px;
        font-size: 14px;
    }
}





